{
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
